@light-background-color: #F1EFE8;
@light-title: #3B6D11 !important;
@light-breadcrumb: #5F5E5A !important;
@light-label-input: #3B6D11 !important;
@light-label: #5F5E5A !important;
@light-btn-cancel: #D9764A;
@light-btn-delete: green;

@dark-background-color: #1C1F17;
@dark-title: #8FC15C;
@dark-breadcrumb: #A6A599 !important;
@dark-label-input: #8FC15C !important;
@dark-label: #A6A599 !important;

.editUserFavor-container {
  height: 80vh;
  padding: 20px;
  box-sizing: border-box;
}

.titleEditUserFavor {
  margin-top: 25px;
  text-align: center;
}

.userFavor-form {
  width: 750px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 25px;
}

.inputNameFavor {
  width: 400px;
}

.textDescription {
  grid-column: 1 / -1;
}

.inputState {
  width: 300px;
}

input[tuiSwitch] {
  &:checked {
    --tui-background-accent-1: #22c55e;
    --tui-background-accent-1-hover: #16a34a;
  }

  &:not(:checked) {
    --tui-background-neutral-1: #ef4444;
    --tui-background-neutral-1-hover: #dc2626;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 40px;

  #btn-cancel {
    background-color: @light-btn-cancel;
    width: 200px;
  }

  #btn-edit {
    background-color: @light-btn-delete;
    width: 200px;
  }
}

// THEME

.light-mode {
  background-color: @light-background-color;

  .titleEditUserFavor{
    color: @light-title;
  }

  input[tuiInput] {
    color: @light-label-input;
  }

  label[tuiLabel] {
    color: @light-label;
  }

  .textDescription textarea {
    color: @light-label-input;
  }

}

.dark-mode {
  background-color: @dark-background-color;

  .titleEditUserFavor{
    color: @dark-title;
  }

  input[tuiInput] {
    color: @dark-label-input;
  }

  label[tuiLabel] {
    color: @dark-label;
  }

  .textDescription textarea {
    color: @dark-label-input;
  }

}
