@light-background-color: #F1EFE8;
@light-title: #3B6D11 !important;
@light-breadcrumb: #5F5E5A !important;
@light-label-input: #3B6D11 !important;
@light-icon-input: #5C8A3A !important;
@light-label: #5F5E5A !important;
@light-btn-submit: #5C8A3A;

@dark-background-color: #1C1F17;
@dark-title: #8FC15C;
@dark-breadcrumb: #A6A599 !important;
@dark-label-input: #8FC15C !important;
@dark-icon-input: #7FB84D !important;
@dark-label: #A6A599 !important;
@dark-btn-submit: #7FB84D;

.changePassword-container {
  height: 80vh;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-family: 'Libre Baskerville italic', serif;
  text-align: center;
  padding: 20px;
}

.user-form {
  width: 80%;
  max-width: 900px;
  flex-direction: column;
  margin: 25px auto;
  display: grid;
  gap: 20px 40px;
}

.form-field form-field--email--password {
  grid-column: 1 / -1;
}

.button-cancel {
  width: 80%;
  max-width: 900px;
  margin: 15px auto;
  display: grid;

}

// THEME

.light-mode {
  background-color: @light-background-color;

  h1{
  color: @light-title;
  }

  input[tuiInput] {
    color: @light-label-input;
  }

  label[tuiLabel] {
    color: @light-label;
  }

  .button-cancel {
    background-color: red;
  }

  .button-update {
    background-color: @light-btn-submit;
  }

  .form-field--email--password,
  .form-field--email--password:focus-within,
  .form-field--email--password:hover {
    color: @light-icon-input;
  }

  tui-icon {
    color: @light-icon-input;
  }

}

.dark-mode {
  background-color: @dark-background-color;

  h1{
    color: @dark-title;
  }

  input[tuiInput] {
    color: @dark-label-input;
  }

  label[tuiLabel] {
    color: @dark-label;
  }

  .button-cancel {
    background-color: red;
  }

  .button-update {
    background-color: @dark-btn-submit;
  }

  .form-field--email--password,
  .form-field--email--password:focus-within,
  .form-field--email--password:hover {
    color: @dark-icon-input;
  }

  tui-icon {
    color: @dark-icon-input;
  }
}
