.editUser {
  padding-top:25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.editUser form {
  width: 100%;
  max-width: 700px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 40px;
}

.form-field {
  width: 100%;
}

.form-field--street--email {
  grid-column: 1 / -1;
}
