h1 {
  padding-top: 20px;
  margin: 0 0 30px 0;
  font-size: 24px;
  text-align: center;
}

.material-detail {
  width: 95%;
  max-width: 1600px;
  margin: 40px auto;
  padding: 25px;
  display: grid;
  // left -  right
  grid-template-columns: 400px 1fr;
  gap: 50px;
  box-sizing: border-box;
}


// ========================================
// INFORMATIONS
// ========================================
.material-info {
  border-right: 4px solid #111;
  padding: 20px;
  box-sizing: border-box;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.material-description,
.material-property {
  strong {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  p {
    margin: 0 0 18px 0;
    font-size: 16px;
  }
}


// ========================================
// GALERIE
// ========================================
.material-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  align-content: center;
}


.picture-container {
  width: 250px;
  height: 250px;
  border: 2px solid #111;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

// ========================================
// RESPONSIVE
// ========================================

@media (max-width: 900px) {

  .material-detail {
    grid-template-columns: 1fr;

    gap: 40px;

    padding: 25px;
  }

  .material-info {
    min-height: auto;
  }

  .material-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 600px) {

  .material-detail {
    width: 95%;

    padding: 15px;

    border-width: 3px;
  }

  .material-gallery {
    grid-template-columns: 1fr;
  }

  .picture-container {
    height: 180px;
  }
}
