<header class="toolbar" [ngClass]="{ 'dark-mode': isDarkMode, 'light-mode': !isDarkMode }">
  <!-- Logo is on left -->
  <a [routerLink]="['dashboard']" class="logo-link">
    <img src="/logo/logoSmall.jpg" alt="Logo" class="logo" />
    <span id="logoText">Rent-Serve</span>
  </a>

  <!-- Space between buttons -->
  <span class="spacer"></span>

  <!-- First button materials  -->
  @if (isAuthenticated) {
    <button
      tuiButton
      type="button"
      [routerLink]="['/material', 'all-materials']"
      size="m"
      appearance="flat"
      iconEnd="@tui.hammer"
      class="btn-rentServeBasket"
    >
      Matériels
    </button>
  }

  <!-- Space between buttons -->
  <span class="spacer"></span>

  <!-- Display the button when the user is connected -->
  <div class="action-buttons">
    @if (isAuthenticated) {
      <button
        tuiButton
        type="button"
        size="m"
        appearance="flat"
        iconEnd="@tui.shopping-bag"
        class="btn-rentServeBasket"
      >
        Panier
      </button>

      <!-- DropMenu to edit profile -->
      <button
        tuiButton
        tuiChevron
        type="button"
        size="m"
        appearance="custom"
        iconStart="@tui.user"
        [tuiDropdown]="settingsMenu"
        [(tuiDropdownOpen)]="isOpen"
        class="btn-login"
      >
        {{ firstname }}
      </button>

      <ng-template #settingsMenu>
        <tui-data-list>
          <div class="dropdown-menu">
            <a tuiOption [routerLink]="['user', userId, 'edit-profile']" class="btnSetting">
              Modifier profil
            </a>
            <a tuiOption type="button" (click)="logout()" class="btnSetting">
              Se déconnecter
            </a>
          </div>
        </tui-data-list>
      </ng-template>
    } @else {
      <button
        tuiButton
        type="button"
        size="m"
        appearance="custom"
        iconEnd="@tui.user"
        routerLink="/auth/login"
        class="btn-login"
      >
        Connexion
      </button>
    }
  </div>
</header>
