// Variables de couleurs
@light-bg: #3D4A2A;
@light-text: #F1EFE8;
@light-btn-login: #d9764a;
@light-btn-rent: #6d7c5f;

@dark-bg: #2E331F;
@dark-text: #F1EFE8;
@dark-btn-login: #E8845A;
@dark-btn-rent: #ccd5b9;

.toolbar {
  display: flex;
  align-items: center;
  font-size: 17px;
  height: 3.5vw;
  min-height: 56px;
  padding: 0 16px;
  box-sizing: border-box;

  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;

    .logo {
      padding-top: 7px;
      height: 50px;
      margin-right: 16px;
    }
  }

  .spaceBtwnMatFav {
    margin:10px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .nav-buttons,
  .action-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  button[tuiButton] {
    height: 50px;
    border-radius: 25px; // Style arrondi similaire aux boutons extended fab
  }

  // THEME //

  /* Style pour Light Mode */
  &.light-mode {
    background-color: @light-bg;
    color: @light-text;

    #logoText {
      color: @light-text;
    }

    .btn-login {
      background-color: @light-btn-login;
      color: #ffffff;
    }

    .btn-rentServeBasket {
      background-color: @light-btn-rent;
      color: #ffffff;
    }
  }

  /* Style pour Dark Mode */
  &.dark-mode {
    background-color: @dark-bg;
    color: @dark-text;

    #logoText {
      color: @dark-text;
    }

    .btn-login {
      background-color: @dark-btn-login;
      color: @light-text;
      width: 135px;
    }

    .btn-rentServeBasket {
      background-color: @dark-btn-rent;
      color: @light-text;
    }
  }
}

/* Style du Menu Déroulant (Dropdown) */
tui-data-list {
  background-color: @light-text;
  padding: 4px 0;
}
a[tuiOption]{
  color:@light-bg;
}
a[tuiOption]:hover {
  background-color: #B4B2A9 !important;
  color: @light-text !important;
}
