/* You can add global styles to this file, and also import other style files */
[tuiTheme="light-mode"] {
  tui-data-list-wrapper {
    background-color: #5F5E5A !important;
  }

  tui-dropdown[data-appearance] {
    background-color: #F1EFE8 !important;
  }

  tui-data-list {
    color: #F1EFE8 !important;
  }

  button[tuiOption] {
    color: #F1EFE8 !important;

    &:hover {
      background-color: #D3D1C7 !important;
      color: #3D4A2A !important;
    }
  }

}

[tuiTheme="light-mode"] {
  tui-data-list-wrapper {
    background-color: #171912;
  }

  tui-dropdown[data-appearance] {
    background-color: #1C1F17 !important;
  }

  button[tuiOption] {
    color: #F1EFE8 !important;

    &:hover {
      background-color: #40261C !important;
      color: #F1EFE8 !important;
    }
  }

}

// Drawer //

.drawer {
  width: 350px !important;
  background-color: #F1EFE8 !important;
  // ---- Link menu ----
  .drawer-links {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  .link-drawer {
    width: 350px;
    padding: 12px 16px;
    box-sizing: border-box;

    a {
      font-size: 1.5em;
      display: block;
      width: 100%;
      text-decoration: none;
      color: #3D4A2A;
      transition: background-color 0.2s ease, color 0.2s ease;
    }

    &:hover {
      background-color: #EAF3DE;
      cursor: pointer;
    }

    a:active,
    a.active {
      color: #993C1D;
    }
  }

  // ---- Footer ----
  footer {
    width: 350px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 350px;
      height: 44px;
      background-color: orange;
      color: white;
      text-decoration: none;
      box-sizing: border-box;
      cursor: pointer;
      transition: background-color 0.2s ease;
    }

    a:hover {
      background-color: darken(orange, 8%);
    }
  }
}
